body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main {
  min-height: calc(100vh - 64px - 186px);
  padding: 1.8rem 1rem;
}
.page-footer {
  background-color: #211a7e;
}

.page-footer .footer-copyright {
  background-color: #0e095ab3;
}


.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 25px;
}

.movie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.card .card-image {
  max-height: 350px !important;
  overflow: hidden !important;
}


.card-description {
  display: flex;
  justify-content: space-between;

}

.input-field {
  display: flex;
  align-items: center;
  gap: 30px;
}

.input-field>button {
  min-width: 142px;
  height: 40px;
  background: #a8d7e6;
  border: none;
  border-radius: 8px;
}

.label-radio {
  margin-right: 30px;
}

nav ul a {
  color: #f3ebeb;
}

.active {
  color: #ccd9db;
  text-decoration: underline;
  text-shadow: 3px -1px 3px #272826;
}

.active-link {
  color: #adc2f0;
  border-bottom: 3px solid #fff;
}